Code/Windows/Presentation/Desktop/Service References/STVSyncService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ds.pfsa.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ds.pfsa.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ds.pfsa.org/">
      <s:element name="GetLastVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetLastVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetLastVersionResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSTVList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="HubID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSTVListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSTVListResult" type="tns:ArrayOfSTVList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSTVList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="STVList" nillable="true" type="tns:STVList" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="STVList">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="HubID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequestionNo" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STVNo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Insurance" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="InvoiceTotalValue" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="getSTVDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="lastVersion" nillable="true" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="lastDateTime" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="HubID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="AccountID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getSTVDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getSTVDetailResult" type="tns:ArrayOfSTVDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSTVDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="STVDetail" nillable="true" type="tns:STVDetail" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="STVDetail">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="HubID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ItemID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RequisitionNo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="STVNo" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="AccountID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ManufactureID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Qty" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Batch" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Expiry" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitCost" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="TotalCost" nillable="true" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Margin" type="s:double" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLastVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetLastVersion" />
  </wsdl:message>
  <wsdl:message name="GetLastVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetLastVersionResponse" />
  </wsdl:message>
  <wsdl:message name="getSTVListSoapIn">
    <wsdl:part name="parameters" element="tns:getSTVList" />
  </wsdl:message>
  <wsdl:message name="getSTVListSoapOut">
    <wsdl:part name="parameters" element="tns:getSTVListResponse" />
  </wsdl:message>
  <wsdl:message name="getSTVDetailSoapIn">
    <wsdl:part name="parameters" element="tns:getSTVDetail" />
  </wsdl:message>
  <wsdl:message name="getSTVDetailSoapOut">
    <wsdl:part name="parameters" element="tns:getSTVDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GetLastVersion">
      <wsdl:input message="tns:GetLastVersionSoapIn" />
      <wsdl:output message="tns:GetLastVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSTVList">
      <wsdl:input message="tns:getSTVListSoapIn" />
      <wsdl:output message="tns:getSTVListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getSTVDetail">
      <wsdl:input message="tns:getSTVDetailSoapIn" />
      <wsdl:output message="tns:getSTVDetailSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLastVersion">
      <soap:operation soapAction="http://ds.pfsa.org/GetLastVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSTVList">
      <soap:operation soapAction="http://ds.pfsa.org/getSTVList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSTVDetail">
      <soap:operation soapAction="http://ds.pfsa.org/getSTVDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLastVersion">
      <soap12:operation soapAction="http://ds.pfsa.org/GetLastVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSTVList">
      <soap12:operation soapAction="http://ds.pfsa.org/getSTVList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSTVDetail">
      <soap12:operation soapAction="http://ds.pfsa.org/getSTVDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:7514/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:7514/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>